{% extends "base.html" %}

{% block content %}
    {%if title %}
        <div class="anime">
            <h2> {{count}} recomendations for {{title[0]}} </h2>
            <img src={{title[1]}} 
                 alt={{title[0] + "poster"}}
                 width="225"
                 height="320">
            <hr>
        </div>
    {% else %}
        <h2> Top 10 anime by user score </h2>
    {% endif %}
    {% for anime in titles %}
    <div class="recomedationsTitle">
        <h3>{{anime[0][0]}} </h3>
        <p>
            Genres: <b>{{anime[0][1]}}</b> <br>
            <img src={{anime[1]}} 
                 alt={{anime[0][0] + "poster"}}
                 width="225"
                 height="320">
            <br> {{anime[0][2]}}
            {% if title %}
                <br> With similarity with {{title[0]}}: {{anime[0][3]}}
            {% endif %}
        </p>
    </div>
    {% endfor %}
{% endblock %}